        <%= attachment_image_tag @user, :profile_image, :fill, 100,100 , format: 'jpeg', class: "pull-left profile-img", fallback:"no_image.jpg" %>
        <table class="table">
          <thead>
          </thead>
          <tbody>
            <tr>
              <td>name</td>
              <td><%= @user.name %></td>
            </tr>
            <td>introduction</td>
            <td><%= @user.introduction %></td>
          </tbody>
        </table>

        <div class="row">
            <% if @user == current_user %>
              <%= link_to(content_tag(:span, "", class: "col-xs-12 btn btn-default glyphicon glyphicon-wrench edit_user_15043"), edit_user_path(@user)) %>
            <% else %>
              <%= link_to(content_tag(:span, "", class: "col-xs-12 btn btn-default glyphicon glyphicon-wrench edit_user_15043"), user_path(current_user)) %>
            <% end %>
        </div>